<div class="modal fade" id="help-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <li>Input speech text or select a sample text and then click 'Generate' button to synthesize gestures.</li>
            <li>Add motion or style controls and click 'Apply Control' button to update the gestures.</li>
            <li>When add motion controls, you can use the motion library where pre-recorded unit gestures are available. D or Delete key to delete the selected track.</li>
            <li>Click 'Apply rules' to add motion controls automatically accoring to word-motion rules. You may add your own rules.</li>
        </ul>

        If you any questions or suggestions, please contact <a href='mailto:youngwoo@etri.re.kr'>youngwoo@etri.re.kr</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
